<div class="aside fl">
    <!--side-nav-->
    <a href="{:U('Member/member')}" class="member-aside-title"><em class="myfont">&#xe627;</em>帐户中心</a>
    <ul class="side-nav f14 bdr">
      <li><a href="{:U('Member/asset')}">资产统计</a></li>

      <li><a href="{:U('Member/recharge')}">我要充值</a></li>
      <li><a href="{:U('Member/withdrawals')}">我要提现</a></li>
      <li><a href="{:U('Member/bank')}">银行卡管理</a></li>
      <li><a href="{:U('Member/record')}">交易记录</a></li>
      <li><a href="{:U('Member/my')}">我的投资</a></li>
      <li><a href="{:U('Member/loan')}">我的借款</a></li>
      <li><a href="{:U('Member/infomation')}">站内信息</a></li>
      <li><a href="{:U('Member/safe')}">安全设置</a></li>
      <li><a href="{:U('Member/recommend')}">推荐好友</a></li>

    </ul>
        
  </div>