<!DOCTYPE HTML>
<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta name="keywords" content="scclui框架">
	<meta name="description" content="scclui为轻量级的网站后台管理系统模版。">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>投资状态</title>
  </head>
  <body>
        <table border="1" cellspacing="0" align="center">
            <tr align="center">
                <th width="120">ID</th>
                <th width="120">姓名</th>
                <th width="120">投资项目</th>
                <th width="120">项目类型</th>
                <th width="120">投资金额</th>
                <th width="120">结算日期/进度</th>
            </tr>
            <volist name="data" id="vo">
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.username}</td>
                <td>{$vo.project_name}</td>
                <td>{$vo.id}</td>
                <td>{$vo.amount}</td>
                <td>{$vo.id}</td>

            </tr>
            </volist>
        </table>
  </body>
</html>
