<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="__PUBLIC__/Admin/common/css/base.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/common/css/info-reg.css"/>
    <title>用户列表</title>
</head>
<body>
<div class="title"><h2>添加用户信息</h2></div>
<form action="{:U('editHandle')}" method="post">
    <div class="main">
        <p class="shor054t-input ue-clear">
            <label>昵称：</label>
            <input type="text" name="pname" placeholder="昵称"/>
        </p>
        <p class="shor054t-input ue-clear">
            <label>姓名：</label>
            <input type="text" name="name" placeholder="姓名" value="{$row.name}"/>
        </p>
        <p class="shor054t-input ue-clear">
            <label>密码：</label>
            <input type="text" name="password" placeholder="密码" value="{$row.password}"/>
        </p>
        <p class="shor054t-input ue-clear">
            <label>省份：</label>
            <input type="text" name="city" placeholder="省份" value="{$row.city}"/>
        </p>
        <p class="short-input ue-clear">
            <label>性别：</label>
            <input type="radio" name="sex" value="男" checked style="float: none;"/>男
            <input type="radio" name="sex" value="女" style="float: none;"/>女
        </p>
        <p class="short-input ue-clear">
            <label>生日：</label>
            <input type="text" name="birthday" placeholder="生日" value="{$row.birthday}"/>
        </p>
        <p class="short-input ue-clear">
            <label>手机：</label>
            <input type="text" name="tel" id="tel" placeholder="手机" value="{$row.tel}"/>
        </p>
        <p class="short-input ue-clear">
            <label>身份验证：</label>
            <input type="text" name="eral"  placeholder="身份验证"/>
        </p>
    </div>
    <div class="btn ue-clear">
        <input type="hidden" name="id" value="{$row.id}">
        <a href="javascript:;" class="confirm">确定</a>
        <a href="javascript:;" class="clear">清空内容</a>
    </div>
</form>
</body>
<script type="text/javascript" src="__PUBLIC__/Admin/common/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/common/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/common/js/WdatePicker.js"></script>
<script>
    //表单提交
    $(function () {
        //获取确定按钮，并绑定单击事件
        $('.confirm').click(function () {
            //让表单提交
            $('form').submit();
        });
        //点击清空内容，还原表单
        $('.clear').click(function () {
            $('form').get(0).reset(); //reset是js中的函数，需要把jQuery对象转化成js对象才能调用
        })
    })
</script>
</html>
